body {
    background-color: hsl(257, 40%, 49%);
}

.container {
    display: flex;
    flex-direction: column;
}

.caixa-imagens {
    display: flex;
    flex-direction: column;
    
    background-image: url('../images/bg-mobile.svg');
    background-repeat: no-repeat;
    background-size: 100vw;
    height: 50vh;
}

.logo {
    width: 30vw;
    position: absolute;
    top: 15px;
    left: 30px;
}

.img-fundo {
    width: 70vw;
    align-self: center;
    margin-top: 60px;
}

.caixa-texto {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 0 30px;
}

.titulo {
    font-family: 'Poppins', sans-serif;
    color: white;
    font-size: 1.4em;
    margin: 10px;
}

.paragrafo {
    font-family: 'Open Sans', sans-serif;
    color: white;
    font-size: 1.1em;
    line-height: 25px;
}

.botao {
    border: none;
    border-radius: 20px;
    font-family: 'Open Sans', sans-serif;
    color: hsl(257, 40%, 49%);
    padding: 10px 55px;
    font-size: 0.8em;
    box-shadow: 2px 1.5px 8px hsl(0, 0%, 22%);
    margin: 20px;
}
.botao:hover {
    color: #ffffff;
    background-color: hsl(300, 69%, 71%);
}

.rodape {
    position: absolute;
    bottom: 0;
    width: 100vw;
    height: 80px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 5px;
    
}

.icons {
    border: 1px solid #ffffff;
    padding: 5px;
    border-radius: 50%;
    color: #ffffff;
    font-size: 0.8em;
    width: 12px;
    text-align: center;
}

@media only screen and (min-width:700px) {
    .container {
        background-image: url('../images/bg-mobile.svg');
        background-repeat: no-repeat;
        background-size: 100vw;
        height: 100vh;

        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: 1fr;
        grid-column-gap: 50px;
    }

    .logo {
        width: 15vw;
        margin: 10px 20px;
    }

    .caixa-imagens {
        grid-area: 1 / 1 / 2 / 2;
    }
    .img-fundo {
        width: 30vw;
    }
    .caixa-texto {
        width: 40vw;
        text-align: left;
        grid-area: 1 / 2 / 2 / 3;
    }

    .titulo {
        font-size: 3em;
        margin-left: 0;
    }
    
    .botao {
        border-radius: 30px;
        padding: 15px 60px;
        font-size: 1.1em;
        margin-left: 0;
        align-self: flex-start;
    }
    
    .rodape {
        height: 100px;
    }
    
    .icons {
        padding: 8px;
        font-size: 1.1em;
        width: 20px;
    }
}